div {
    background-color: tomato;
    height: 200px;
    width: 800px;
}

/*#div_1 {
    background-color: burlywood;
}*/

.class_1 {
    background-color: crimson;
}
.class_2 {
    background-color: blueviolet;
}