body {
    margin: 0px;
    overflow: hidden;
}

#background {
    width: 10000px;
    background-image: url("citytiled1.png");
    height: 640px;
    background-size: auto 100%;
    transition: 0.2s;
}

#player {
    position: fixed;
    bottom: 10px;
    left: 40%;
    transition: 2s;
}